# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/
**/airflow_env/
**/config/
**/logs/
**/plugins/
**/docker-compose.yml
**/Dockerfile.txt
**/install_airflow.*
**/run_airflow.*

**/*.env
**/*.log
